<ion-item class="degrade" [navPush]="audioPage">
  <ion-grid>
    <ion-row>
      <ion-col col-1>
        <ion-avatar item-start>
          <img src="../../../../resources/icon.png" height="100" width="100"/>
        </ion-avatar>
      </ion-col>
      <ion-col col-2>
        <button *ngIf="playing()===false; else playingComp;" (click)="play()" ion-button icon-only color="light" clear>
          <ion-icon name="play"></ion-icon>
        </button>
        <ng-template #playingComp>
          <button (click)="stop()" ion-button icon-only color="light" clear>
            <ion-icon name="square"></ion-icon>
          </button>
        </ng-template>
      </ion-col>
      <ion-col col-6>
        <div class="audio-info">
          <h1>{{ fileName }}</h1>
          <p>Great audio file</p>
        </div>
      </ion-col>
      <ion-col col-1>
        <div class="audio-info" *ngIf="playing()===false; else currentDuration;">
          <p>{{ totalDuration()}}</p>
        </div>
        <ng-template #currentDuration>
          <p>21</p>
        </ng-template>
      </ion-col>
      <ion-col col-1>
        <button ion-button icon-only color="light" clear>
          <ion-icon name="share"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-1>
        <button ion-button icon-only color="light" clear>
          <ion-icon name="download"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
