page-record ion-content > ion-grid {
  //text-align: center;
  height: 100%;
  display: block;
  vertical-align: middle;
}


#recordGrid {
  height: 100%;
  display: block;
  vertical-align: middle;
  text-align: center;
}

#recordGrid > ion-row {
  height: 100%;
}

#recBtn {
  height: 75%;
  width: 75%;
  background-color: #2ec95c;
}

#recBtn > ion-icon {
  height: 100%;
}

#stopRecBtn {
  @extend #recBtn;
  background-color: #e93a3a;
}
